<ion-content [fullscreen]="true">
  <!-- Contenedor principal para mostrar los scores -->
  <div class="header-info">
    <div class="username">
      <ion-label>{{ user_data[0]?.username }}</ion-label>
    </div>
    <div class="score">
      <ion-label>{{ score }}</ion-label>
    </div>
  </div>

  <!-- Contenedor de preguntas y respuestas -->
  <div class="quiz-container">

    <!-- Iteración de las preguntas -->
    <div *ngFor="let question of question_data" class="question-section">

      <!-- Barra de progreso -->
      <ion-progress-bar [value]="progress"></ion-progress-bar>

      <!-- Título de la pregunta -->
      <div class="question-title">
        {{ question.texto_pregunta }}
      </div>

      <!-- Opciones de respuestas -->
      <div class="answer-options">
        <ion-button 
          *ngFor="let option of answers_data" 
          [color]=
          "option === question_data[0]?.respuesta_correcta ? color_correct : color_incorrect" 
          class="answer-button" 

          (click)="answerQuestion(option === question_data[0]?.respuesta_correcta ? 'correct_answer' : 'incorrect_answer')" 
          [disabled]="isDisabled">
          {{ option }}
        </ion-button>
      </div>

    </div> <!-- Fin de la sección de preguntas -->

  </div> <!-- Fin del contenedor de preguntas -->

  <!-- Botón para abrir el modal -->
 

  <!-- Modal para mostrar términos y condiciones -->
  <ion-modal   [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p class="ion-padding-horizontal">Poder.</p>
        <ion-item>
          <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss" (click)="selectPower('doubleScore')">
           <ion-label >Doble puntuacion</ion-label>
          </ion-checkbox>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
