<ion-content [fullscreen]="true">
  <!-- Contenedor principal para mostrar los scores -->
  <div class="header-info">
    <div class="username">
      <ion-label>{{ user_data[0]?.username }}</ion-label>
    </div>
    <div class="score" >
      <ion-label>{{ score }}</ion-label>
    </div>
  </div>

  <!-- Contenedor de preguntas y respuestas -->
  <div class="quiz-container">

    <!-- Iteración de las preguntas -->
    <div *ngFor="let question of question_data" class="question-section">

      <!-- Barra de progreso -->
      <ion-progress-bar [value]="progress"></ion-progress-bar>

      <!-- Título de la pregunta -->
      <div class="question-title">
        {{ question.texto_pregunta }}
      </div>

      <!-- Opciones de respuestas -->
      <div class="answer-options">
        <ion-button 
          *ngFor="let option of answers_data" 
          [color]=
          "option === question_data[0]?.respuesta_correcta ? color_correct : color_incorrect" 
          class="answer-button" 

          (click)="answerQuestion(option === question_data[0]?.respuesta_correcta ? 'correct_answer' : 'incorrect_answer')" 
          [disabled]="isDisabled">
          {{ option }}
        </ion-button>
      </div>

    </div> <!-- Fin de la sección de preguntas -->

  </div> <!-- Fin del contenedor de preguntas -->

  <!-- Botón para abrir el modal -->
 

 <ion-modal [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Selecciona un Poder</ion-title>
        <ion-buttons slot="end">
          <ion-button color="secondary" (click)="closeModal()">Continuar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding" color="light">
      <div class="modal-content">
        <p class="ion-padding-horizontal">
          Selecciona el poder que deseas usar:
        </p>

        <!-- Ion Radio Group para seleccionar solo una opción -->
        <ion-item lines="none" class="ion-no-margin">
          <ion-radio-group [(ngModel)]="selectedPower">
            <ion-radio
              value="doble"
              (ionChange)="onTermsChanged($event, 'doble')"
              (click)="selectPower('doubleScore')"
            >
              <ion-label class="custom-label">Doble puntuación</ion-label>
            </ion-radio>

            <ion-radio
              value="pista"
              (ionChange)="onTermsChanged($event, 'pista')"
              (click)="selectPower('pista')"
            >
              <ion-label class="custom-label">Pista</ion-label>
            </ion-radio>

            <!-- Nuevo poder: Quitar puntos a un usuario conectado -->
            <ion-radio
              value="quitarPuntos"
              (ionChange)="onTermsChanged($event, 'quitarPuntos')"
              (click)="selectPower('removePoints')"
            >
              <ion-label class="custom-label">Quitar puntos a un usuario</ion-label>
            </ion-radio>
          </ion-radio-group>
        </ion-item>

        <!-- Lista de usuarios conectados (solo visible si se elige "quitar puntos") -->
        <div *ngIf="selectedPower === 'quitarPuntos'">
          <p class="ion-padding-horizontal">Selecciona un usuario:</p>
          <ion-list class="user-list">
            <ion-item *ngFor="let user of connectedUsers"  class="user-item">
              <ion-label>
                
                <ion-button (click)="substractPoints(user.id)" [disabled]="disabled_power">ID: {{ user?.id }} | Puntos: {{ user?.puntos }}</ion-button>
              </ion-label>
             
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

  
  
</ion-content>
