ion-content {
  --background: #f4f7fa; /* Fondo suave para el ion-content */
  padding: 20px; /* Relleno para dar espacio alrededor de la tabla */
}

.football-table {
  max-width: 800px; /* Hacer la tabla más grande */
  margin: 0 auto; /* Centrar la tabla */
}

ion-grid {
  --ion-grid-column-padding: 0;
}

.header-column {
  font-weight: bold;
  text-align: center;
  background-color: #28a745; /* Verde característico del fútbol */
  color: white;
  padding: 14px 0;
  border-radius: 8px;
  font-size: 18px; /* Aumentar el tamaño de la letra */
}

.score-item {
  border-bottom: 1px solid #28a745; /* Borde verde para separar las filas */
}

.score-column {
  text-align: center;
  padding: 20px 0;
  font-size: 20px; /* Aumentar el tamaño de la fuente */
  border-radius: 8px;
  color: #333; /* Color de texto negro para buena legibilidad */
}

.score-column:nth-child(odd) {
  background-color: #ffffff;
}

.score-column:nth-child(even) {
  background-color: #f0f8f0; /* Fondo blanco con un toque suave de verde */
}

.score-item:hover {
  background-color: #d4f1d4; /* Efecto hover con un fondo verde claro */
}

ion-row {
  margin-bottom: 15px; /* Más espacio entre las filas */
}
