ion-content {
  --background: linear-gradient(180deg, #a5d6a7, #81c784); /* Fondo verde suave, estilo césped de campo */
  padding: 20px; /* Relleno para dar espacio alrededor de la tabla */
  display: flex;
  justify-content: center; /* Centra la tabla en el contenedor */

}


ion-grid {

  width: 80%;
  margin-top: 40px; /* Ajusta el margen superior */
  --ion-grid-column-padding: 0;
}

.header-column {
  font-weight: bold;
  text-align: center;
  background-color: #28a745; /* Verde característico del fútbol */
  color: white;
  padding: 12px 0; /* Relleno reducido */
  border-radius: 8px;
  font-size: 16px; /* Ajustar el tamaño de la letra */
}



.score-column {
  text-align: center;
  padding: 10px 0; /* Relleno reducido */
  font-size: 16px; /* Ajustar el tamaño de la fuente */
  border-radius: 8px;
  color: #333; /* Color de texto */
}

.score-column:nth-child(odd) {
  background-color: #ffffff;
}

.score-column:nth-child(even) {
  background-color: #ffffff; /* Fondo blanco con un toque suave de verde */
}

ion-row {
  margin-bottom: 10px; /* Reducir el espacio entre las filas */
}
