/* Estilo para el ion-content */
ion-content {
    --background: linear-gradient(180deg, #f9f9f9, #e0f7fa); /* Fondo con toque vibrante */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333; /* Texto oscuro para buena legibilidad */
    font-family: 'Poppins', Arial, sans-serif; /* Fuente moderna */
    position: relative;
    height: 100vh; /* Asegura que ion-content ocupe todo el alto de la pantalla */
    justify-content: center; /* Centra el contenido verticalmente */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil para separar contenido */
    border-radius: 15px; /* Bordes redondeados */
}

/* Estilo para la lista de puntuaciones */
.score-list {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 0; /* Eliminar padding extra */
    margin: 0; /* Eliminar márgenes por defecto */
    background-color: #f4f4f4; /* Fondo claro para el ion-list */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Ajustes para ion-item */
ion-item {
    background: transparent !important; /* Asegura que no haya fondo oscuro */
    --inner-background: transparent !important; /* Forzamos que el fondo interno sea transparente */
    --highlight-background: transparent !important; /* El fondo de resaltado también es transparente */
    padding: 10px; /* Relleno adicional para cada item */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio entre los elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Nombre de usuario */
.username-label {
    color: #333; /* Color oscuro para el nombre de usuario (o ajusta según preferencia) */
    text-align: left;
    font-weight: 600; /* Más negrita para el nombre */
    font-size: 1.3rem;
    margin-right: 10px;
}

/* Puntaje */
.score-label {
    color: #ffeb3b; /* Dorado para los puntos */
    font-weight: 700; /* Negrita para destacar el puntaje */
    text-align: right;
    font-size: 1.3rem;
}

/* Efecto hover sobre el item de puntuación */
ion-item:hover {
    background: #e0f7fa; /* Fondo más claro al pasar el ratón */
    box-shadow: 0 6px 10px rgba(184, 174, 34, 0.15); /* Aumenta la sombra */
    cursor: pointer; /* Cambia el cursor para indicar interacción */
}

/* Añadir separación visual entre cada item de puntuación */
ion-item::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #dcdcdc;
    margin-top: 10px;
    opacity: 0.2;
}

/* Si quieres cambiar el color del label en general */
ion-label {
    background: transparent !important; /* Asegura que el label no tenga fondo */
    color: #666; /* Color de texto para el label si no es puntaje o usuario */
}


